:root {
    --dark-aqua: #2d635d;
    --gay: #af82b5;
}

body {
    color: aquamarine;
    background-color: #2b271f;
}

.quote {
    background-color: #362f23;
}

.quote:hover {
    color: white;
}


li:first-child:hover {
    color: var(--dark-aqua);
    text-emphasis:  '点' var(--gay);
    text-transform: capitalize;
    font-size: 5px;
}

li:nth-child(7) {
    color: var(--gay);
}

li:nth-child(4) {
    color: black;
    background-color: aqua;
    text-decoration: dashed;
}

li:last-child {
    text-align: end;
}

.fallow-me + p + p{
    background-color: bisque;
    color: black;
}

input ~ button {
    color: var(--gay);
    font-size: large;
}

.div-two{
    background-color: var(--gay);
}

img[src*="./img"] {
    border: 10px solid black;
}

img[src$=".gif"]{
    filter: saturate(7);
}
/* search more: attribute selector */
img[src*="./img"]:hover {
    transform: scaleX(-1);
}

#corey-gif {
    height: 300px;
    width: 42%;
    background: url("../img/c_spoon.gif");
    border: 20px solid;
    border-image: url("..img/lava.jpg") 60 30;
}

.test-box {
    font-size: 40px;
    background-image: linear-gradient(to bottom, black, red);
    align-items: center;
    justify-content: center;
    display: flex;
    color: red;
    width: 400px;
    height: 300px;
    border: solid;
    border-width: 25px;
    border-image: url("../img/lava.jpg") 60 30;
    border-image-slice: fill;
}